<!-- <div class="w3-content w3-margin-top" style="max-width:1500px;"></div> -->
<div class="w3-content w3-margin-top w3-padding w3-light-grey" style="width:75%">
  <mat-card class="w3-margin">
    <mat-card-title>
      Taxonomy
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center" class="w3-white w3-margin-top w3-margin-bottom">
        <img src="../../assets/img/taxonomy.svg">
      </div>
    </mat-card-content>
    
  </mat-card>  
  

  <mat-card class="w3-margin">
    <mat-card-title>
      Explainability Techniques
    </mat-card-title>
    <mat-card-content>
      .....
      <div class="w3-padding"> 
        <p><b>Feature Importantce</b>: </p>
      </div>
    </mat-card-content>
    
  </mat-card>  


  <mat-card class="w3-margin">
    <mat-card-title>
      Visualization Techniques
    </mat-card-title>
    <mat-card-content>
      .....
    </mat-card-content>
    
  </mat-card>  
  

  <mat-card class="w3-margin">
    <mat-card-title>
      Evaluation Metrics
    </mat-card-title>
    <mat-card-content>
      .....
    </mat-card-content>
    
  </mat-card>  
  
  

  <!-- <div fxLayout="row wrap">

    <mat-card class="def-card">
      <mat-card-header>
        <mat-card-title class="title">Term Title</mat-card-title>
      </mat-card-header>
      <img width="240px" src="../assets/placeholder.png">
      <mat-card-content class="text">
        <p>I am a definition text</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="def-card">
      <mat-card-header>
        <mat-card-title class="title">Term Title</mat-card-title>
      </mat-card-header>
      <img width="240px" src="../assets/placeholder.png">
      <mat-card-content class="text">
        <p>I am a definition text</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="def-card">
      <mat-card-header>
        <mat-card-title class="title">Term Title</mat-card-title>
      </mat-card-header>
      <img width="240px" src="../assets/placeholder.png">
      <mat-card-content class="text">
        <p>I am a definition text</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="def-card">
      <mat-card-header>
        <mat-card-title class="title">Term Title</mat-card-title>
      </mat-card-header>
      <img width="240px" src="../assets/placeholder.png">
      <mat-card-content class="text">
        <p>I am a definition text</p>
      </mat-card-content>
    </mat-card>

  </div> -->

</div>

