<body>

  <!-- <div class="topbar">
    <div class="background"></div>
    <div class="title">XAI-NLP</div>
  </div> -->

  <mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
      <!-- <span><img src="./assets/IBMResearchlogo.png" style="height:70px;"></span> -->
      <a mat-button routerLink="/home" routerLinkActive="active" class="w3-hover-white">XAI-NLP Home</a>
      <a mat-button routerLink="/definitions"  class="w3-hover-white">Definitions</a>
      <a mat-button routerLink="/tree"  class="w3-hover-white">XAI Publications</a>
      <!-- <a mat-button routerLink="/papers">Papers</a> -->


    </mat-toolbar-row>
  </mat-toolbar>

  <main class="main">
    <router-outlet style="margin-top: 80px;"></router-outlet>
  </main>


</body>


